@media screen and (max-width: 1200px) {
    header {
        padding: 7.5px;
        width: 60vw;
    }
    
    header h2 {
        font-size: 22.5px;
    }
    
    header img {
        height: 30px;
        width: 30px;
        margin-right: 15px;
    }
    
    header a {
        font-size: 15px;
    }
    
    header input {
        height: 18.75px;
        padding: 7.5px;
        padding-left: 15px;
        border-radius: 12px;
        min-width: 90px;
    }
    
    footer {
        width: 60vw;
        margin: 15px 0px;
        padding: 7.5px 0px;
        font-size: 15px;
    }
    
    .pokemon-about, .pokemon-base-stats {
    max-height: 150px;
    overflow-y: scroll;
}


    #content-box {
        min-height: 300px;
        max-width: 60vw;
    }
    
    .card {
        width: 225px;
        height: 225px;
        border-radius: 11.25px;
        padding: 15px;
        margin: 7.5px;
    }
    
    .card h2 {
        font-size: 27px;
    }
    
    .card img {
        height: 112.5px;
    }
    
    .card:hover .pokemon-image img {
        transform: scale(0.9);
    }
    
    .card span {
        margin-bottom: 7.5px;
    }
    
    .pokemon-card {
        width: 300px;
        height: 468.75px;
        border-radius: 11.25px;
        margin: 7.5px;
    }
    
    .pokemon-card-header {
        padding: 15px;
    }
    
    .pokemon-card-header-top {
        margin-bottom: 11.25px;
    }
    
    .pokemon-card-header h2 {
        font-size: 27px;
    }
    
    .pokemon-image {
        height: 112.5px;
    }
    
    .pokemon-types img {
        height: 36px;
        width: 36px;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    header input {
        min-width: 80px;
    }
    
    footer {
        width: 52vw;
        margin: 13px 0px;
        padding: 6.5px 0px;
        font-size: 13px;
    }
    
    #content-box {
        min-height: 260px;
        max-width: 52vw;
    }

    .slider-btn {
        font-size: 20px;
    }
    
    .card {
        width: 195px;
        height: 195px;
        border-radius: 9.75px;
        padding: 13px;
        margin: 6.5px;
    }
    
    .card h2 {
        font-size: 23.4px;
    }
    
    .card img {
        height: 97.5px;
    }
    
    .card:hover .pokemon-image img {
        transform: scale(0.78);
    }
    
    .card span {
        margin-bottom: 6.5px;
    }
    
    .pokemon-card {
        width: 260px;
        min-height: 425px;
        border-radius: 9.75px;
        margin: 6.5px;
    }
    
    .pokemon-card-header {
        padding: 13px;
    }
    
    .pokemon-card-header-top {
        margin-bottom: 9.75px;
    }
    
    .pokemon-card-header h2 {
        font-size: 23.4px;
    }
    
    .pokemon-image {
        height: 97.5px;
    }
    
    .pokemon-types img {
        height: 31.2px;
        width: 31.2px;
    }
}

@media screen and (max-width: 400px) {
    header input {
        min-width: 80px;
    }

    footer {
        width: 44vw;
        margin: 11px 0px;
        padding: 5.5px 0px;
        font-size: 11px;
    }
    
    #content-box {
        min-height: 220px;
        max-width: 44vw;
    }

    .slider-btn {
        font-size: 14px;
    }
    
    .card {
        min-width: 140px;
        height: 165px;
        border-radius: 8.25px;
        padding: 11px;
        margin: 5.5px;
    }
    
    .card h2 {
        font-size: 19.8px;
    }
    
    .card img {
        height: 82.5px;
    }
    
    .card:hover .pokemon-image img {
        transform: scale(0.66);
    }
    
    .card span {
        margin-bottom: 5.5px;
    }
    
    .pokemon-card {
        width: 220px;
        min-height: 415px;
        border-radius: 8.25px;
        margin: 5.5px;
    }
    
    .pokemon-card-header {
        padding: 11px;
    }
    
    .pokemon-card-header-top {
        margin-bottom: 8.25px;
    }
    
    .pokemon-card-header h2 {
        font-size: 19.8px;
    }
    
    .pokemon-image {
        height: 82.5px;
    }
    
    .pokemon-types img {
        height: 26.4px;
        width: 26.4px;
    }
}