body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full viewport height */
    background-color: white;
}

header {
    padding: 10px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 30px;
}

header img {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header input {
    height: 25px;
}

header input {
    padding: 10px;
    padding-left: 20px;
    border: 2px solid #000000; 
    border-radius: 16px; 
    width: 20%;
}

footer {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
    padding: 10px 0px;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}

#content-box {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to next row */
    justify-content: center; /* Center align cards */
    align-content: center;
    max-width: 80vw;
}

#overlay {
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 1000; /* Ensures the overlay is on top of other elements */
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.load-more-btn {
    background-color: #3399FF; /* Hintergrundfarbe */
    color: white; /* Textfarbe */
    border: none; /* Keine Umrandung */
    padding: 10px 20px; /* Innenabstand */
    font-size: 16px; /* Schriftgröße */
    border-radius: 25px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeigt die Hand als Mauszeiger an */
    transition: background-color 0.3s ease; /* Weiche Farbänderung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

.load-more-btn:hover {
    background-color: #2877cc; /* Etwas dunklerer Blauton beim Hover */
}

.load-more-btn:active {
    background-color: #1e5fa6; /* Noch dunklerer Blauton beim Klicken */
}